<a class="cards bg-dark mx-3 mt-3" style="width: 10em; border-radius:0.75rem;text-decoration: none;color:white;"
  href="/admin/typecommodity/bakery" name="bakery">
  <div class="card-body d-flex flex-column justify-content-center align-items-center mt-3 text-center">
    <img
      src="https://img.icons8.com/external-photo3ideastudio-flat-photo3ideastudio/100/000000/external-bakery-august-bakery-photo3ideastudio-flat-photo3ideastudio.png" />
    <h3 class="fs-4 my-1">Bakery</h3>
  </div>
</a>

<a class="cards bg-dark mx-3 mt-3" style="width: 10em; border-radius:0.75rem;text-decoration: none;color:white;"
  href="/admin/typecommodity/dairy">
  <div class="card-body d-flex flex-column justify-content-center align-items-center mt-3">
    <img
      src="https://img.icons8.com/external-photo3ideastudio-flat-photo3ideastudio/95/000000/external-milk-supermarket-photo3ideastudio-flat-photo3ideastudio.png" />
    <h3 class="fs-4 my-2">Dairy</h3>
  </div>
</a>

<a class="cards bg-dark mx-3 mt-3 " style="width: 10em; border-radius:0.75rem;text-decoration: none;color:white;"
  href="/admin/typecommodity/frozen">
  <div class="card-body d-flex flex-column justify-content-center align-items-center text-center mt-2">
    <img src="https://img.icons8.com/fluency/96/000000/winter.png" />
    <h3 class="fs-5 mt-1">Frozen Products</h3>
  </div>
</a>

<a class="cards bg-dark mx-3 mt-3  py-2" style="width: 10em; border-radius:0.75rem;text-decoration: none;color:white;"
  href="/admin/typecommodity/fruits" href="/inventory">
  <div class="card-body d-flex flex-column justify-content-center align-items-center g-2">
    <img
      src="https://img.icons8.com/external-photo3ideastudio-flat-photo3ideastudio/100/000000/external-fruits-restaurant-photo3ideastudio-flat-photo3ideastudio.png" />
    <h3 class="fs-4 my-2">Fruits</h3>
  </div>
</a>

<a class="cards bg-dark mx-3 mt-3" style="width: 10em; border-radius:0.75rem;text-decoration: none;color:white;"
  href="/admin/typecommodity/grooming">
  <div class="card-body d-flex flex-column justify-content-center align-items-center mt-2 text-center">
    <img
      src="https://img.icons8.com/external-wanicon-flat-wanicon/95/000000/external-comb-beauty-cosmetics-wanicon-flat-wanicon.png" />
    <h3 class="fs-5 my-1">Grooming Products</h3>
  </div>
</a>

<a class="cards bg-dark mx-3 mt-3" style="width: 10em; border-radius:0.75rem;text-decoration: none;color:white;"
  href="/admin/typecommodity/oils">
  <div class="card-body d-flex flex-column justify-content-center align-items-center mt-3 text-center">
    <img src="https://img.icons8.com/color/95/000000/sunflower-oil.png" />
    <h3 class="fs-4 my-2" style="letter-spacing: 2px;">Oil</h3>
  </div>
</a>

<a class="cards bg-dark mx-3 mt-3" style="width: 10em; border-radius:0.75rem;text-decoration: none;color:white;"
  href="/admin/typecommodity/spices">
  <div class="card-body d-flex flex-column justify-content-center align-items-center mt-3">
    <img
      src="https://img.icons8.com/external-justicon-flat-justicon/96/000000/external-spicy-food-thailand-element-justicon-flat-justicon.png" />
    <h3 class="fs-4 my-2">Spices</h3>
  </div>
</a>

<a class="cards bg-dark mx-3 mt-3" style="width: 10em; border-radius:0.75rem;text-decoration: none;color:white;"
  href="/admin/typecommodity/vegetables">
  <div class="card-body d-flex flex-column justify-content-center align-items-center mt-1">
    <img
      src="https://img.icons8.com/external-wanicon-flat-wanicon/115/000000/external-vegetables-farming-and-agriculture-wanicon-flat-wanicon.png" />
    <h3 class="fs-4 my-1">Vegetable</h3>
  </div>
</a>