    <div class="col-4">
            <div class="form-floating mb-3">
                <input type="text" class="form-control bg-dark" id="floatingInput" placeholder="ID" name="ID" required>
                <label for="floatingInput" >ID</label>
        </div>
    </div>
    
    <div class="col-6">
        <div class="form-floating mb-3">
                <input type="text" class="form-control bg-dark" id="floatingInput" placeholder="Serial No" name="Serial">
                <label for="floatingInput" >Serial No</label>
        </div>
    </div>

    <div class="col-6">
        <div class="form-floating mb-3">
                <input type="text" class="form-control bg-dark" id="floatingInput" placeholder="Name" name="Name" required>
                <label for="floatingInput" >Name</label>
        </div>
    </div>
    <div class="col-4">
        <select class="form-select mb-3 p-3 bg-dark" aria-label="Default select example" name="Availbility" required>
            <option selected>Availbility</option>
            <option value="In stock">in stock</option>
            <option value="Seasonal">seasonal</option>
            <option value="Out Of Stock">out of stock</option>
        </select>
    </div>
    <div class="col-3">
        <div class="form-floating">
            <input type="date" class="form-control bg-dark" id="floatingInput" placeholder="PKD" name="PKD">
            <label for="floatingInput">PKD / MFD</label>
        </div>
    </div>

    <div class="col-3">
        <div class="form-floating mb-3">
                <input type="text" class="form-control bg-dark" id="floatingInput" placeholder="Quantity" name="Quantity">
                <label for="floatingInput" >Quantity</label>
        </div>
    </div>

    <div class="col-4">
        <div class="form-floating mb-3">
                <input type="text" class="form-control bg-dark" id="floatingInput" placeholder="price" name="Price" required>
                <label for="floatingInput" >Price</label>
        </div>
    </div>