<div class="nav fs-5 mt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/typecommodity/bakery">Bakery</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color: #fafafa;">Add item</li>
        </ol>
    </nav>
</div>
{{#if alert}}
    <div class="alert  alert-success alert-dismissible fade show mt-5 " role="alert" style="margin-left: 14%;width: 72.5%;">
        {{alert}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}


<form method="post" action="/bakery/add" class="row g-4 needs-validation p-5 mx-5 d-flex justify-content-center flex-direction-row">
    {{> form-add}}
    <div class="col-10 d-grid mt-5">
        <button class="btn btn-primary py-3">Submit</button>
    </div>
</form>
