<div class="row mx-5 mt-4 px-5">
  <div class="col-4">
    <h2>Type of Commodity</h2>
  </div>
  <a href="/customer/typecommodity" style="color: #0d6efd;cursor: pointer;text-decoration: none;"
    class="col-8 d-flex justify-content-end align-items-center px-3 fs-5">
    <i class="bi bi-eye"></i>
    <p style=" font-size:1em;margin-bottom:2px " class="ms-2">see more</p>
  </a>
</div>

<div class="d-flex justify-content-evenly m-5 mt-3 px-5 gap-2">
  {{> home-type}}
</div>