<div class="fs-5 mx-4 mt-4 px-5">
    <nav aria-label="breadcrumb" >
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/customer/home" style="color: #b4b4b4;text-decoration:none;">Home</a></li>
            <li class="breadcrumb-item"><a href="/customer/typecommodity" style="color: #b4b4b4;text-decoration:none;">Type of Commodity</a></li>
            <li name="bakery"class="breadcrumb-item active" aria-current="page" style="color: #ffffff;">Oils</li>
        </ol>
    </nav>
</div>

<div class="mx-4">
    {{> customer-commodity}}
</div>
