<div class="row m-5">  
  <div  class="col-4 ">
      <h1>
        Inventory Details
      </h1>
  </div>
  <div class="col-8 d-flex justify-content-end align-items-center" >
    <a href="/admin/inventory/additem" class="btn btn-primary px-4 py-2"><i class="bi bi-plus-lg"></i> Add</a>
  </div>
</div>

<div class="conatiner rounded-3 shadow-sm p-4 m-5 mt-4 bg-dark">
{{> inv-table}}
</div>

