<div class="container p-5 d-flex justify-content-center text-center" style="25%" >
    <a href="/customer/home" class="card bg-dark fs-4 mx-5 shadow" style="width:10em;text-decoration:none;color:#fafafa;border-radius:1rem">
        <div class="card-body mt-3 pb-1">
            <img src="https://img.icons8.com/external-wanicon-flat-wanicon/175/000000/external-customer-supermarket-wanicon-flat-wanicon.png"/>
            <p class="fs-2">Customer</p>
        </div>
    </a>
    <a href="/admin/login" class="card bg-dark fs-4 mx-5 shadow" style="width:10em;text-decoration:none;color:#fafafa;border-radius:1rem">
        <div class="card-body mt-3 pb-1">
            <img src="https://img.icons8.com/external-itim2101-flat-itim2101/175/000000/external-admin-big-data-itim2101-flat-itim2101.png"/>
            <p class="fs-2">Admin</p>
        </div>
    </a>
</div>